/* Cupcake Image and Animation Elements */
.home_banner .banner_right .round-planet {
  width: 540px;
  height: 540px;
  border-radius: 50%;
  position: absolute;
  top: 51%;
  left: 58%; /* Changed to move right */
  transform: translate(-50%, -50%);
  z-index: 0;
  border: 3px solid #f9f9ff;
}

.home_banner .banner_right .round-planet.planet2 {
  width: 430px;
  height: 430px;
  left: 60%; /* Adjusted to match parent */
}

.home_banner .banner_right .round-planet.planet3 {
  width: 320px;
  height: 320px;
  left: 60%; /* Adjusted to match parent */
}

/* Animation Shapes - Keep original left positions */
.home_banner .banner_right .round-planet .shape {
  border-radius: 60%;
  position: absolute;
}

.home_banner .banner_right .round-planet .shape.shape1 {
  margin-top: -15px;
  margin-left: -355px;
  width: 100px;
  height: 100px;
  background: url(images/banner/shape1.png) no-repeat;
  left: 75%;
  top: -30%;
  animation: glow 2s infinite alternate;
}

.home_banner .banner_right .round-planet .shape.shape2 {
  width: 80px;
  height: 80px;
  background: url(images/banner/shape2.png) no-repeat;
  left: 14%;
  bottom: -31%;
  animation: glow 1s infinite alternate;
}

.home_banner .banner_right .round-planet .shape.shape3 {
  width: 104px;
  height: 80px;
  background: url(images/banner/shape3.png) no-repeat;
  left: 32%;
  top: 49%;
  animation: glow 1s infinite alternate 3s;
}

.home_banner .banner_right .round-planet .shape.shape4 {
  width: 92px;
  height: 70px;
  background: url(images/banner/shape4.png) no-repeat;
  left: 32%;
  top: 6%;
  animation: glow 1s infinite alternate 2s;
}

.home_banner .banner_right .round-planet .shape.shape5 {
  width: 88px;
  height: 86px;
  background: url(images/banner/shape5.png) no-repeat;
  left: 5%;
  top: -10%;
  animation: glow 1s infinite alternate 1s;
}

.home_banner .banner_right .round-planet .shape.shape6 {
  width: 100px;
  height: 100px;
  background: url(images/banner/shape6.png) no-repeat;
  left: -42%;
  bottom: -58%;
  animation: glow 1s infinite alternate;
}


@keyframes glow {
  0% { opacity: .1; }
  50% { opacity: .5; }
  100% { opacity: .1; }
}

/* Responsive Adjustments */
@media (max-width: 991px) {
  .home_banner .banner_right .round-planet {
      display: none;
  }
  .home_banner .face-img {
      display: none;
  }
}